/* =======
Layout
======== */
*, *::before, *::after {
    box-sizing: border-box;    
}

body {
    margin: 1rem auto;
}

img{
    max-width: 100%;
}

button {
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background-color: inherit;
}

main {
    margin: 0 auto;
    max-width: 300px;
}

li {
    height: 600px;
    border: 1px solid #BCB5B9;
    background-color: #F9F7F0;
}

/* banner containers*/
.container__banner {
    list-style: none;
    margin: 0;
    padding: 0;
}

.banner__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.banner__content,
.banner__img {
    margin-bottom: 30px;
}

/* primary | logo | cta images */
.banner__img {
    position: relative;
    height: 435px;
}

.banner__cta,
.img__logo {
    margin: 0 auto;
}

.img__logo {
    position: absolute;
    z-index: 2;
    inset: 176px 0 205px;
    max-width: 200px;
}

.img__primary {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    opacity: 0;
}

.img--active {
    opacity: 1;

}

.banner__cta {
    max-width: 82px;
}

/* banner content */
.content__info {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.info__btn {
    max-width: 7px;
    height: 12px;
}

/* =======
Typography
======= */
@font-face {
    font-family: BemboStd;
    src: url('./assets/BemboStd.woff2');
}

.info__title {
    margin: 0 0;
    max-width: 160px;
    text-align: center;
    font-size: 1.56rem;
    font-family: BemboStd;
}